       #mainheading {
           color: white;
           text-align: center;
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           font-weight: lighter;
       }

       body {
           background-color: gray;
       }

       .mainaboutme  {
           margin-left: auto;
           margin-right: auto;
           margin-top: 150px;
           width: 60%;
           color: white;
           border: 5px white solid;
           border-radius: 25px;
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           font-weight: lighter;
           padding: 10px;
           box-shadow: 5px 5px 5px rgb(73, 73, 73);
       }

       .nav a {
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           font-weight: lighter;
           color: white;
           float: right;
           padding: 10px;
           border: black 1px solid;
           text-decoration: none;
           border-radius: 5px;
           background: rgb(92, 91, 91);
           margin-right: 5px;
       }

       .social img {
           width: 45px;
           border-radius: 5px;
           background: rgb(92, 91, 91);
           margin-right: 5px;
       }

       .social {
           width: 180px;  
        }

       .imagelink {
           text-decoration: none;
       }

       .footer {
           margin-top: 40%;
           text-align: center;
       }

       .footer p {
           font-size: 12px;
           font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
           color: white;
       }

       .mainpage {
           border: black 2px solid;
           margin-top: 100px;
       }

       .maintext{
        margin-left: auto;
        margin-right: auto;


        width: 1300px;
        height: 500px;
        border: 1px solid black;
        padding: 20px;
        margin-top: 30px;
        box-shadow: 5px 5px 5px black;
    
       }
       .maintext h2{

        text-align: center;
        border: 1px solid white;

       }